{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue !</h1>

    StageDirecte - La meilleure application web de gestion de stages.
    <p>
    Résultat de l'envoi du mail = '{{result}}'
    </p>

    <p>
    Résultat de l'envoi du mail = '{{message}}'
    </p>
</div>
{% endblock %}
