{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold mb-6">Créer une nouvelle école</h1>

        <div class="bg-white p-8 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold mb-4">Détails de l'école</h2>

            <form method="POST" action="{{ path('app_school_new') }}" class="space-y-6">
                {{ form_start(form) }}
                

                {{ include('school/_form.html.twig') }}
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}
